<div
  class="container"
  fxLayout="row"
  fxLayoutWrap
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <div fxFlex="10%">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex="30%" style="line-height: 40px; font-size: large">Standard</div>
  <div fxFlex="10%">
    <button mat-icon-button>
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>
  <div fxFlex></div>
  <div fxFlex="10%">
    <button mat-icon-button>
      <mat-icon>restore</mat-icon>
    </button>
  </div>
</div>

<div
  class="container"
  fxLayout="row"
  fxLayoutWrap
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <div fxFlex style="height: 20vh"></div>
</div>

<div
  class="container"
  fxLayout="row"
  fxLayoutWrap
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <div fxFlex="1/6">
    <button mat-flat-button style="background-color: lightgray">MC</button>
  </div>
  <div fxFlex="1/6">
    <button mat-flat-button style="background-color: lightgray">MR</button>
  </div>
  <div fxFlex="1/6">
    <button mat-flat-button style="background-color: lightgray">M+</button>
  </div>
  <div fxFlex="1/6">
    <button mat-flat-button style="background-color: lightgray">M-</button>
  </div>
  <div fxFlex="1/6">
    <button mat-flat-button style="background-color: lightgray">MS</button>
  </div>
  <div fxFlex="1/6">
    <button mat-flat-button style="background-color: lightgray">M`</button>
  </div>
</div>

<div
  class="container"
  fxLayout="row"
  fxLayoutWrap
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <div fxFlex style="height: calc(80vh - 80px)">
    <div
      class="container"
      fxLayout="row"
      fxLayoutWrap
      fxLayoutGap="0.5%"
      fxLayoutAlign="center"
    >
      <div fxFlex="25%">
        <button mat-flat-button>%</button>
        <button mat-flat-button>1/x</button>
        <button mat-flat-button>7</button>
        <button mat-flat-button>4</button>
        <button mat-flat-button>1</button>
        <button mat-flat-button>+/-</button>
      </div>
      <div fxFlex="25%">
        <button mat-flat-button>%</button>
        <button mat-flat-button>1/x</button>
        <button mat-flat-button>7</button>
        <button mat-flat-button>4</button>
        <button mat-flat-button>1</button>
        <button mat-flat-button>+/-</button>
      </div>
      <div fxFlex="25%">
        <button mat-flat-button>%</button>
        <button mat-flat-button>1/x</button>
        <button mat-flat-button>7</button>
        <button mat-flat-button>4</button>
        <button mat-flat-button>1</button>
        <button mat-flat-button>+/-</button>
      </div>
      <div fxFlex="25%">
        <button mat-flat-button>%</button>
        <button mat-flat-button>1/x</button>
        <button mat-flat-button>7</button>
        <button mat-flat-button>4</button>
        <button mat-flat-button>1</button>
        <button mat-flat-button>+/-</button>
      </div>
    </div>
  </div>
</div>
