<!-- <p>Mã sản phẩm: {{ sanPham.maSP }}</p>

<img [src]="sanPham.hinhAnh" style="width: 100px; height: 100px" />

<p>{{ sanPham.moTa }}</p>

<h5>{{ sanPham.gia | number }}đ</h5>

<p>Mã sản phẩm: {{ sanPham.maSP }}</p>

<img [src]="sanPham.hinhAnh" style="width: 100px; height: 100px" />

<p>{{ sanPham.moTa }}</p>

<h5>{{ sanPham.gia | number }}đ</h5>


<p>Mã sản phẩm: {{ sanPham.maSP }}</p>

<img [src]="sanPham.hinhAnh" style="width: 100px; height: 100px" />

<p>{{ sanPham.moTa }}</p>

<h5>{{ sanPham.gia | number }}đ</h5> -->

<h1 class="ten">Bắn Cá</h1>
